<launch>
  <node name="imu_filter" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen">
    <param name="use_mag" value="false" />
    <param name="use_magnetic_field_msg" value="false" />
    <param name="publish_tf" value="false" />
    <remap from="imu/data" to="imu_data" />
  </node>
</launch>
